.fixed {
  position: fixed;
  bottom: 0; right: 0;
  margin: 1rem; padding: 1rem;
  background-color: #1c7cd6;
  cursor: pointer;

  border-radius: 3rem;
  font-weight: bold;
  text-align: center;
  a {
    color: #fff;
  }

  &:hover {
    transition: all .5s;
    transform: translateY(-1rem);
    background-color: #329af0;
  }
}
