

.content {
  width: 1000px;
	background-color:white;
 	box-shadow: 0.1px 0.1px 0px #555;
 	cursor: pointer;
  padding: 1rem;
  margin-bottom: 1rem;

  p {
    font-size: 1.3rem;
    font-weight: bold;

    span {
      color: $red;
      font-weight: 900;
    }
  }

  .textarea_box {
  	width: 100%;
  	background-color:#212529;
   	box-shadow: 0.1px 0.1px 0px #555;
   	height: 300px;
   	cursor: pointer;
   	border: 1px solid #fff;
   	color: #fff;
  	box-sizing: border-box;
  }

  .box {
  	width: 100%;
  	background-color:#212529;
   	box-shadow: 0.1px 0.1px 0px #555;
   	height: 16rem;
   	cursor: pointer;
   	border: 1px solid #fff;
   	color: #fff;
  	box-sizing: border-box;
  	p {
  		font-size: 1.4rem;
  		padding: 1rem;
  	}

  	.red {
  		color: $red;
  		font-weight: bold;
  	}
  }
}
