// 중앙 정렬용 컨테이너
.container {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
    // 3 칼럼 카드 레이아웃 구현
    .card {
      float: left;
      width: 31.3333%;
      background: white;
      margin: 1%;
      box-shadow: 0.2px 0.2px 5px #555;
      padding: 1rem;
      height: 33rem;
      transition: all .5s;
      color: black;
      text-align: center;
      cursor: pointer;
      &:hover {
        transform: translateY(0.7rem);
      }
      a {
        color: black;
      }
      .card_title {
        h1 {
          font-size: 3rem;
          margin-bottom: 3rem;
        }
      }

  }
  // 저작권 정보

  .copyright_content {
    margin-bottom: 1rem;
    display: flex;
    flex: 1 1 0;
    .copyright_subscribe {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1 1 0;
    }
  }


  // 컨테이너 내부 공헌자 리스트
  .contribution {
    overflow: hidden;
    background: white;
    margin-top: 5rem;

    img {
      width: 181px;
      height: 195px;
    }
    .card {
      cursor: pointer;
      &:hover {
        transform: translateY(-0.3rem);
      }

      .group {
        line-height: 30rem;
        color: black;
        i {
          font-size: 5rem;
          color: black;
        }
        &:hover {
          opacity: 0.7;
        }
      }
    }
    // 공헌자 이름
    .contribution_name {
      font-size: 1.5rem;
      font-weight: bold;
    }

    .contribution_call {
      margin-top: 2rem;
      // 공헌자 리스트 모음
      .contribution_call_list {
        box-shadow: 0.2px 0.2px 5px #555;
        padding: 1rem;
        margin-top: 1rem;

        &:hover {
          opacity: 0.7;
        }

        i {
          font-size: 3rem;
        }
      }
    }
  }
}
