/* container */

.container {
  width: 1000px; margin: 5rem auto;

  .row {
    overflow: hidden;
    .card {
      float: left;
      width: 31.3333%;
      background: white;
      margin: 1%;
      box-shadow: 0.2px 0.2px 5px #555;
      padding: 1rem;
      height: 33rem;
      transition: all .5s;
      color: black;
      text-align: center;

      &:hover {
        transform: translateY(-0.7rem);
      }

      .card_title {
        h1 {
          font-size: 3rem;
          margin-bottom: 3rem;
        }
      }
    }
  }
}
