

.content {
  width: 1000px;
	background-color:white;
 	box-shadow: 0.1px 0.1px 0px #555;
 	cursor: pointer;
  padding: 1rem;
  margin-bottom: 1rem;

  p {
    font-size: 1.3rem;
    font-weight: bold;
  }
}
