@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR';
  height: 100%;
  background-color: #ddd;
}

* {
  box-sizing: inherit;
}

/* 기타 */
a { color: white; text-decoration: none; }
ul,li,ol { list-style: none; margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6,p { margin: 0; padding: 0; }
