.hashtable {
  .hashtable_control {
    text-align: right;

    button {
    	display: inline-block;
    	padding: 1.5rem 2.5rem;
    	background-color: $btnblue;
    	color: white;
    	border-radius: 0.5rem;
    	transition: all 1s;
      border: none;
      cursor: pointer;

      &:hover {
        opacity: 0.5;
      }
    }

    input {
      width: 20rem;
      border: none;
      outline: none;
      text-align: center;
      font-size: 1rem;
      padding: 1.5rem;
    }

    .hashtable_remove {
      background-color: $red;
    }
  }

  .hashtable_table {
    margin: 1rem 0;
    padding: 0;

    table, td, th {
      border: 1px solid #ddd;
      text-align: center;
    }

    table {
      width: 100%;
    }

    th, td {
      padding: 1rem;
    }
  }
}
