header {
  background-image: url('../img/background.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  /* ScrollHeader 관련 클래스 */
  .shrink {
    background-color: rgba(0,0,0,.8);
    text-align: center;
  }

  #logo {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;
    width: 100%;
    z-index: 9999;



    a {
      font-size: 2rem;
      font-weight: 600;
      cursor: pointer;

      &:hover {
        color: white;

      }
    }


  }

  #intro {
    text-align: center;
    color: white;
    position: relative;

    // &:before {
    //   display: block;
    //   position: absolute;
    //   height: 1rem;
    //   width: 35rem;
    //   background-color: white;
    //   content: "";
    //   top: -2rem;
    // }
    //
    // &:after {
    //   display: block;
    //   position: absolute;
    //   height: 1rem;
    //   width: 35rem;
    //   background-color: white;
    //   content: "";
    //   bottom: -2rem;
    // }

    h1 {
      font-size: 6rem;
      font-weight: bold;
    }
  }

  #more {
    position: absolute;

    width: 100%;
    bottom: 1rem;
    right: 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: all ease .5s;

    &:hover {
      color: $pink;
      transform: translateY(-1rem);
    }

    i {
      font-size: 2rem;
    }
  }
}
