/* queue 시각화 구현을 위한 스타일 모음 */


.set_control {
  text-align: right;

  button {
  	display: inline-block;
  	padding: 1.5rem 2.5rem;
  	background-color: $btnblue;
  	color: white;
  	border-radius: 0.5rem;
  	transition: all 1s;
    border: none;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }

  .set_input {
    width: 25rem;
    border: none;
    outline: none;
    text-align: center;
    font-size: 2rem;
    padding: 1.5rem;
  }

  .set_remove {
    background-color: $red;
  }
}

.set_input_full {
  width: 100%;
  border: none;
  outline: none;
  text-align: center;
  font-size: 2rem;
  padding: 1.5rem;
}

.setAlert {
  color: $black;
  font-weight: bold;
}
.error {
  color: $red;
}

.success {
  color: $btnblue;
}

.set_visible_box {
  text-align: center;
  overflow: hidden;
  .set_left {
    float: left;
    font-weight: 900;
    font-size: 5rem;
  }

  .set_text {
    display: inline-block;
    font-size: 1.5rem;
    margin-top: 3rem;
  }

  .set_right {
    float: right;
    font-weight: 900;
    font-size: 5rem;
  }
}
