.showcase {
  background-color: $black;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  /* ScrollHeader 관련 클래스 */
  .shrink {
    background-color: rgba(0,0,0,.8);
    text-align: center;
  }

  #logo {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;
    width: 100%;
    z-index: 9999;

    a {
      font-size: 2rem;
      font-weight: 600;
      cursor: pointer;

      &:hover {
        color: white;

      }
    }
  }

  #cover {
    background-color: white;
    border-radius: 1.5rem;
    padding: 2rem;
    #infomation {
      float: left;
      width: 66.6666%;

      h1 {
        font-size: 3rem;
      }

      p {
        margin: 2rem 0;
      }

      a {
        color: $blue;

        &:hover {
          font-weight: bold;
        }
      }

      li {
        padding-top: 1rem;
      }
    }

    #image {
      float: right;
      width: 33.3333%;
      text-align: center;
    }
  }

  #more {
    position: absolute;
    bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: all ease .5s;

    &:hover {
      color: $pink;
      transform: translateY(-1rem);
    }

    i {
      font-size: 2rem;
    }
  }
}
