.slider {
  overflow: hidden;
  // width: 2000px;
  ul {
    position: relative;
    right: 0;

    li {
      float: left;
      width: 1000px;

      h1 {
        margin: 1.5rem 0;
      }
    }
  }
}

.slider_control {
  overflow: hidden;

  .button {
    display: inline-block;
    padding: 1.5rem 4rem;
    background-color: $pink;
    color: white;
    border-radius: 1rem;
    transition: all 1s;

    &:hover {
      background-color: $deeppink;
    }
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }
}
