
// 글꼴 및 초기 설정

@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR';
  background-color: white;
}

*, *:after, *:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
