.queue {

  .queue_text {
  	position: absolute;
  	left: 1000px;
  	width: 100px;
  	height: 200px;
  	text-align: center;
  	line-height: 200px;
  	font-size: 10px;
  	border-radius: 10px;
  	margin: 20px;

  }

  .queue_list {
    text-align: center;

    .movebox {
    	width: 40px;
    	height: 200px;
    	display: inline-block;
    	background-color: #1c7cd6;
    	line-height: 200px;
    	text-align: center;
    	color: #fff;
    	position: relative;
    	margin: 20px;
    	border-radius: 10px;
      cursor: pointer;
      &:hover {
        background-color: #329af0;
      }
    }

  }



}
